<div class="w-full bg-currentColor h-12 flex items-center">

  <nav class="flex bg-blue-50 text-secondaryColor py-1 rounded-lg h-full" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3 h-full">

        <li class="flex items-center bg-white h-full rounded-tl-lg rounded-bl-lg rounded-tr-full rounded-br-full"  [class]="item.isActive?'bg-secondaryColor':'bg-white'" *ngFor="let item of historical" (click)="changePath(item.path)">
          <a href="#" class="flex text-secondaryColor items-center px-4" [class]="item.isActive?'text-white':'text-secondaryColor'" >
            {{item.path}}
            <svg class="w-6 h-6 text-blue-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </li>
      <!-- <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-blue-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
          <a href="#" class="text-blue-700 hover:text-blue-900 ml-1 md:ml-2 text-sm font-medium">Templates</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-blue-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-blue-400 ml-1 md:ml-2 text-sm font-medium">FlowBite</span>
        </div>
      </li> -->
    </ol>
  </nav>

</div>
