<form action="#" method="POST">
  <div class="overflow-hidden sm:rounded-md">
    <div class="px-4 py-5 sm:p-6">
      <div class="grid grid-cols-12 gap-5">
        <div class="md:md:md:col-span-6 sm:col-span-12">
          <label for="id_princing" class="label_global">ID PRINCING:</label>
          <input type="text" id="id_princing" class="input_global" placeholder="ID PRINCING" required>
        </div>

        <div class="md:col-span-6 sm:col-span-12">
          <label for="segmento" class="label_global">SEGMENTO:</label>
          <select id="segmento" name="country" autocomplete="country-name"
                  class="input_global">
            <option>United States</option>
            <option>Canada</option>
            <option>Mexico</option>
          </select>
        </div>
        <div class="md:col-span-6 sm:col-span-12">
          <label for="holding" class="label_global">HOLDING:</label>
          <select id="holding" name="country" autocomplete="country-name" class="input_global">
            <option>United States</option>
            <option>Canada</option>
            <option>Mexico</option>
          </select>
        </div>
        <div class="md:col-span-6 sm:col-span-12">
          <label class="label_global">ORIGEN:</label>
          <fieldset class="flex mt-2">
            <legend></legend>
            <div class="flex items-center ml-4 ">
              <input id="origen-1" type="radio" name="countries" value="USA"
                     class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                     checked>
              <label for="origen-1" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Capacitación
              </label>
            </div>

            <div class="flex items-center ml-4">
              <input id="country-option-2" type="radio" name="countries" value="Germany"
                     class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
              <label for="country-option-2" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Retención
              </label>
            </div>
          </fieldset>
        </div>
        <div class="md:col-span-6 sm:col-span-12">
          <label for="consecutivo" class="label_global">CONSECUTIVO E-BUSINESS</label>
          <input type="text" id="consecutivo" class="input_global" placeholder="CONSECUTIVO E-BUSINESS" required>
        </div>
        <div class="md:col-span-6 sm:col-span-12">
          <label for="identification" class="label_global">IDENTIFICACIÓN:</label>
          <input type="text" id="identification"
                 class="input_global"
                 placeholder="IDENTIFICACIÓN" required>
        </div>
        <div class="md:col-span-3 sm:col-span-12">
          <label for="identification" class="label_global">FECHA FIN:</label>
          <input type="date" class="input_global" placeholder="Select a date" data-mdb-toggle="datepicker"/>
        </div>
        <div class="md:col-span-3 sm:col-span-12">
          <label for="identification" class="label_global">FECHA FIN:</label>
          <input type="date" class="input_global" placeholder="Select a date" data-mdb-toggle="datepicker"/>
        </div>
        <div class="md:col-span-6 sm:col-span-12">
          <label for="vigencia" class="label_global">VIGENCIA</label>
          <input type="text" id="vigencia" class="input_global" placeholder="VIGENCIA" required>
        </div>
      </div>
    </div>
    <!--    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">-->
    <!--      <button type="submit"-->
    <!--              class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">-->
    <!--        Save-->
    <!--      </button>-->
    <!--    </div>-->
  </div>
</form>
