@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "telefonicabrand";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/brand/normal/bold/Telefonica-Bold.otf) format("truetype"),
       url(./assets/fonts/brand/normal/bold/Telefonica-Bold.woff2) format("woff2"),
       url(./assets/fonts/brand/normal/bold/Telefonica-Bold.woff) format("woff");
}
@font-face {
  font-family: "telefonicabrand";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/brand/normal/extralight/Telefonica-ExtraLight.otf) format("truetype"),
       url(./assets/fonts/brand/normal/extralight/Telefonica-ExtraLight.woff2) format("woff2"),
       url(./assets/fonts/brand/normal/extralight/Telefonica-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "telefonicabrand";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/brand/normal/light/Telefonica-Light.otf) format("truetype"),
       url(./assets/fonts/brand/normal/light/Telefonica-Light.woff2) format("woff2"),
       url(./assets/fonts/brand/normal/light/Telefonica-Light.woff) format("woff");
}
@font-face {
  font-family: "telefonicabrand";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/brand/normal/regular/Telefonica-Regular.otf) format("truetype"),
       url(./assets/fonts/brand/normal/regular/Telefonica-Regular.woff2) format("woff2"),
       url(./assets/fonts/brand/normal/regular/Telefonica-Regular.woff) format("woff");
}
@font-face {
  font-family: "telefonicabrand";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url(./assets/fonts/brand/normal/regularitalic/Telefonica-RegularItalic.otf) format("truetype"),
       url(./assets/fonts/brand/normal/regularitalic/Telefonica-RegularItalic.woff2) format("woff2"),
       url(./assets/fonts/brand/normal/regularitalic/Telefonica-RegularItalic.woff) format("woff");
}
@font-face {
  font-family: "telefonicabrandcap";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url(./assets/fonts/brand/cap/regular/TelefonicaCap-Regular.otf) format("truetype"),
       url(./assets/fonts/brand/cap/regular/TelefonicaCap-Regular.woff2) format("woff2"),
       url(./assets/fonts/brand/cap/regular/TelefonicaCap-Regular.woff) format("woff");
}


@layer base {
  html {
    font-family: telefonicabrand
  }
}
