<!-- Component Start -->
<aside class="flex flex-col items-center overflow-hidden bg-currentColor w-full h-full">
  <!-- LOGO y título -->
  <a class="flex items-center w-full px-3 mt-1 justify-center">
    <app-svg-importer classes="fill-blue-300 w-24 h-24" [iconName]="'movistar-icon'"></app-svg-importer>
  </a>
  <a class="flex items-center w-full h-12 px-3 mt-2 justify-center">
    <span class="ml-2 text-lg font-bold text-secondaryColor">Gestión De Bolsas</span>
  </a>
  <!-- menu items: opciones -->
  <div class="w-full px-2">
    <div class="flex flex-col items-center w-full mt-3">
      <a *ngFor="let item of opcionesMenu" class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-indigo-700" [routerLink]="[item.route]">
        <app-svg-importer classes="fill-blue-300 w-4 h-4" [iconName]="item.icon"></app-svg-importer>
        <span class="ml-2 text-sm font-medium text-secondaryColor">{{item.name}}</span>
      </a>
    </div>
  </div>
</aside>
<!-- Component End  -->
