<div class="grid grid-flow-row-dense grid-cols-2 grid-rows-2 gap-4 pl-10">
  <div class="col-span-1 flex justify-center">
    <div class="max-w-sm rounded-lg shadow-md col-span-sm-1 col-span-3 col-start-2 mt-2 bg-secondaryColor ">
      <a href="#">
        <img class="rounded-t-lg" src="/assets/img/prueba.jpg" alt="">
      </a>
      <div class="p-5 ">
        <a href="#">
          <h5 class="mb-2 md:text-2xl sm:text-base font-bold tracking-tight text-center text-white">Bolsa Dinero</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="col-span-1 flex justify-left">
    <div class="max-w-sm rounded-lg shadow-md col-span-sm-1 col-span-3 col-start-2 mt-2 bg-secondaryColor ">
      <a href="#">
        <img class="rounded-t-lg" src="/assets/img/prueba.jpg" alt="">
      </a>
      <div class="p-5 ">
        <a href="#">
          <h5 class="mb-2 md:text-2xl sm:text-base font-bold tracking-tight text-center text-white">Bolsa Equipo</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="col-span-1 flex justify-center">
    <div class="max-w-sm bg-white rounded-lg shadow-md col-span-sm-1 col-span-3 col-start-2 bg-secondaryColor ">
      <a href="#">
        <img class="rounded-t-lg" src="/assets/img/prueba.jpg" alt="">
      </a>
      <div class="p-5 ">
        <a href="#">
          <h5 class="mb-2 md:text-2xl sm:text-base font-bold tracking-tight text-center text-white">Bolsa Equipo</h5>
        </a>
      </div>
    </div>
  </div>
</div>
